html { margin-left: calc(100vw - 100%); }

.app {
    background: ivory;
    padding: 6px;
    display: flex;
    align-items: center;
}
.titlePanel {
    display: flex;
    flex-direction: column;
}
.doctitle {
    text-align:center;
    font-size:28px;
}
.tagline {
    margin-top:-1em;
    font_size:18px;
    font-style:italic;
    text-align:center;
}
.simplicityQCarousel {
    background:gray;
    display:flex;
    padding:12px;
    align-items: center;
    flex-direction: row-reverse;
    margin-left:24px;
}

.qSteppers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stepper {
    background:none;
    border:none;
    outline: none;
    margin:0;
    padding:0;
    font-size:36px;
    color:dark-gray;
    cursor: pointer;
}

.stepper:disabled {
    visibility:hidden;
}

.qDirects {
    display: flex;
    margin-top: 6px;
    flex-direction: column;
    align-items: center;
    min-width: 72px;
}

.qControlBar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.captionImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    min-width: 300px;
}

.caption {
    text-align:center;
    font-weight:bold;
    color: #ddd;
    max-width: 300px;
}

.qImage {
    min-height:260px;
    max-height:260px;
    min-width:260px;
    max-width:260px;
}

.qNo {
    margin-left: 0px;
    padding: 0px 4px;
    color:ivory;
    font-size:12px;
    cursor: pointer;

}

.qNoCurrent {
    border: solid #444 1px;
}

.qPlayer {
    font-size:36px;
    padding:0px;
    cursor: pointer;
    color:black;
}

@keyframes fazeIn {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}
.fazer {
    animation-name: fazeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
